
.vs/ZelosPlatform/v16/

Backend/ZelosFramework/_NCrunch_NLP-Framework/

Backend/ZelosFramework/_NCrunch_ZelosPlatform/

*.ncrunchsolution

*.user

Backend/ZelosFramework/.vs/NLP-Framework/DesignTimeBuild/.dtbcache.v2

Backend/ZelosFramework/.vs/ZelosPlatform/v16/.suo

UI/ZelosFrontend/Shared/

*.ncrunchproject

UI/ZelosFrontend/Client/obj/Debug/

Backend/ZelosFramework/.vs/

Backend/ZelosFramework/packages/

**/bin/

**/obj/